In this NoteBooks:

- Import Modules and methods
- Make API request and get json (restcountries)
- Process Json into DataFrame
- Show time statistics
- Create sqlite database from DataFrame
- Create json from DataFrame

#### Import Modules and methods

In [4]:
import os 

from modules.utils import make_request, process_countries, create_sqllite_from_dataframe, show_statistics

#### Make API request and get json (restcountries)

In [5]:
# get all countries json
response, status_request = make_request('https://restcountries.com/v3.1/all')
# print first country and see the structure
response.json()[0]

Success API request!

{'name': {'common': 'Greenland',
  'official': 'Greenland',
  'nativeName': {'kal': {'official': 'Kalaallit Nunaat',
    'common': 'Kalaallit Nunaat'}}},
 'tld': ['.gl'],
 'cca2': 'GL',
 'ccn3': '304',
 'cca3': 'GRL',
 'independent': False,
 'status': 'officially-assigned',
 'unMember': False,
 'currencies': {'DKK': {'name': 'krone', 'symbol': 'kr.'}},
 'idd': {'root': '+2', 'suffixes': ['99']},
 'capital': ['Nuuk'],
 'altSpellings': ['GL', 'Gr√∏nland'],
 'region': 'Americas',
 'subregion': 'North America',
 'languages': {'kal': 'Greenlandic'},
 'translations': {'ara': {'official': 'ÿ¨ÿ±ŸäŸÜŸÑÿßŸÜÿØ', 'common': 'ÿ¨ÿ±ŸäŸÜŸÑÿßŸÜÿØ'},
  'ces': {'official': 'Gr√≥nsko', 'common': 'Gr√≥nsko'},
  'cym': {'official': 'Greenland', 'common': 'Greenland'},
  'deu': {'official': 'Gr√∂nland', 'common': 'Gr√∂nland'},
  'est': {'official': 'Gr√∂√∂nimaa', 'common': 'Gr√∂√∂nimaa'},
  'fin': {'official': 'Gro√∂nlanti', 'common': 'Gro√∂nlanti'},
  'fra': {'official': 'Groenland', 'common': 'Groenland'},
  'hrv': {'official': 'Grenland', 'common': 'Grenland'},
  'hun': {'official': 'Gr√∂nland', 'common': 'Gr√∂nland'},
  'ita': {'official': 'Groenlandia', 'common': 'Groenlandia'},
  'jpn': {'official': '„Ç∞„É™„Éº„É≥„É©„É≥„Éâ', 'common': '„Ç∞„É™„Éº„É≥„É©„É≥„Éâ'},
  'kor': {'official': 'Í∑∏Î¶∞ÎûÄÎìú', 'common': 'Í∑∏Î¶∞ÎûÄÎìú'},
  'nld': {'official': 'Groenland', 'common': 'Groenland'},
  'per': {'official': '⁄Øÿ±Ÿàÿ¶ŸÜŸÑŸÜÿØ', 'common': '⁄Øÿ±€åŸÜŸÑŸÜÿØ'},
  'pol': {'official': 'Grenlandia', 'common': 'Grenlandia'},
  'por': {'official': 'Groenl√¢ndia', 'common': 'Gronel√¢ndia'},
  'rus': {'official': '–ì—Ä–µ–Ω–ª–∞–Ω–¥–∏—è', 'common': '–ì—Ä–µ–Ω–ª–∞–Ω–¥–∏—è'},
  'slk': {'official': 'Gr√≥nsko', 'common': 'Gr√≥nsko'},
  'spa': {'official': 'Groenlandia', 'common': 'Groenlandia'},
  'swe': {'official': 'Gr√∂nland', 'common': 'Gr√∂nland'},
  'urd': {'official': '⁄Øÿ±€åŸÜ ŸÑ€åŸÜ⁄à', 'common': '⁄Øÿ±€åŸÜ ŸÑ€åŸÜ⁄à'},
  'zho': {'official': 'Ê†ºÈôµÂÖ∞', 'common': 'Ê†ºÈôµÂÖ∞'}},
 'latlng': [72.0, -40.0],
 'landlocked': False,
 'area': 2166086.0,
 'demonyms': {'eng': {'f': 'Greenlandic', 'm': 'Greenlandic'},
  'fra': {'f': 'Groenlandaise', 'm': 'Groenlandais'}},
 'flag': 'üá¨üá±',
 'maps': {'googleMaps': 'https://goo.gl/maps/j3289UPEQXt1ceSy8',
  'openStreetMaps': 'https://www.openstreetmap.org/relation/2184073'},
 'population': 56367,
 'car': {'signs': ['DK'], 'side': 'right'},
 'timezones': ['UTC-04:00', 'UTC-03:00', 'UTC-01:00', 'UTC+00:00'],
 'continents': ['North America'],
 'flags': {'png': 'https://flagcdn.com/w320/gl.png',
  'svg': 'https://flagcdn.com/gl.svg'},
 'coatOfArms': {'png': 'https://mainfacts.com/media/images/coats_of_arms/gl.png',
  'svg': 'https://mainfacts.com/media/images/coats_of_arms/gl.svg'},
 'startOfWeek': 'monday',
 'capitalInfo': {'latlng': [64.18, -51.75]},
 'postalCode': {'format': '####', 'regex': '^(\\d{4})$'}}

#### Process Json into DataFrame

In [10]:
# to process json to dataframe dont take any seconds but for demo purpose I put delay param
df = process_countries(response, encrypt_language=True, delay=0) # for demo purpose put delay=0.001
df

,Region,City Name,Language,Time
0,Americas,Greenland,4f3cadca02ab29bdc3cf5ae2f21128c91fd8ac24,0.0 ms
1,Americas,El Salvador,8df7f1b361b2af42d36011e00d22c0f9891ec0b0,0.0 ms
2,Asia,Georgia,aca441ddd2e8d07643b87c1b24a828fa5b4b3e42,0.0 ms
3,Americas,Guyana,649df08a448ee3fa90f3746baaf6b0907df42c91,0.0 ms
4,Europe,Montenegro,f617672f7c9487885f593d5d61b5b420236d4505,0.0 ms
...,...,...,...,...
245,Asia,Mongolia,c3bdbab40a4be4ac1b8eb1ccb2dbb2eaf8ed480f,0.0 ms
246,Americas,Guatemala,8df7f1b361b2af42d36011e00d22c0f9891ec0b0,0.0 ms
247,Europe,Czechia,b4ffe73700fc249842a8c3533be5a96482ea1d68,0.0 ms
248,Europe,Hungary,80cb96f852d1ce7ae9b00c59c13912122674f7ce,0.0 ms
249,Europe,Svalbard and Jan Mayen,79b723002f87708ebc11fd4f3b902a03f7c9a5c1,0.0 ms

#### Show time statistics

In [7]:
# print the time statistics
show_statistics(df)

total time: 6.61 ms
mean: 0.02644 ms
min_time: 0.0 ms
max_time: 5.96 ms

#### Create sqlite database from DataFrame

In [8]:
# create sqllite from dataframe
path_sqlite = "output/countries.sqlite"
name_table = "countries"
is_created = create_sqllite_from_dataframe(path_sqlite, name_table, df)
# get absolute path and print
path_abs = os.path.abspath(path_sqlite)
if os.path.isfile(path_sqlite): print(f"Sqlite file created successfuly: {path_abs}")

c:\Users\angel\.conda\envs\tangelo\lib\site-packages\pandas\core\generic.py:2879: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

Sqlite file created successfuly: d:\Proyectos\python\exam_tangelo\output\countries.sqlite

#### Create json from DataFrame

In [9]:
# create json and store from dataframe
path_json = "output/countries.json"
df.to_json(path_json)
# get absolute path and print
path_abs = os.path.abspath(path_json)
if os.path.isfile(path_sqlite): print(f"Json file created successfuly: {path_abs}")

Json file created successfuly: d:\Proyectos\python\exam_tangelo\output\countries.json